{{#*inline "body"}}
<main class="gh-main">

    {{#match @root.custom.header_action "No action"}}
        {{> partials/components/header layout="wide" background="image" primary=@root.custom.primary_header secondary=@root.custom.secondary_header}}
    {{else match @root.custom.header_action "Search"}}
        {{> partials/components/header layout="wide" background="image" action="search" primary=@root.custom.primary_header secondary=@root.custom.secondary_header}}
    {{else match @root.custom.header_action "Subscribe"}}
        {{> partials/components/header layout="wide" background="image" action="email" primary=@root.custom.primary_header secondary=@root.custom.secondary_header}}
    {{/match}}

    {{> partials/components/list layout="magazine" count="5" showExcerpt=true showPrimaryTag=true}}

    {{#if @root.custom.enter_tag_slugs_for_homepage_sections}}
        {{#get "tags" filter="slug:[{{@root.custom.enter_tag_slugs_for_homepage_sections}}]"}}
            {{#foreach tags}}
                {{#if @root.odd}}
                    {{> partials/components/list layout="grid" column="3" count="3" showHeader=true}}
                {{else}}
                    {{> partials/components/list layout="grid" column="4" count="4" showHeader=true}}
                {{/if}}
            {{/foreach}}
        {{/get}}
    {{else}}
        {{#match (length posts) ">" 1}}
            {{#get "tags" include="count.posts" order="count.posts desc" limit="3"}}
                {{#foreach tags}}
                    {{#if @root.odd}}
                        {{> partials/components/list layout="grid" column="3" count="3" showHeader=true}}
                    {{else}}
                        {{> partials/components/list layout="grid" column="4" count="4" showHeader=true}}
                    {{/if}}
                {{/foreach}}
            {{/get}}
        {{/match}}
    {{/if}}

    {{> partials/components/cta title=@root.custom.email_signup_text}}

</main>
{{/inline}}
{{> default}}